* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.info{
    background: #ebe0c0;
    padding:4% ;

    margin-top: 10px;
}

.welcome {
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 10px;
}

.info h1 {
  font-size: 38px;
  font-weight: bold;
  color: #1e1e1e;
}

.info h1 span {
  color: #3d6b3d;
}

.subtitle {
  margin: 18px 0;
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

.join-but {
  background-color: #3A643B;
  color: white;
  border: none;
  padding: 12px 60px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.join-btn:hover {
  background-color: #2f5630;
}

.stats {
  display: flex;
  gap: 40px;
  margin-top: 35px;
}

.stats h3 {
  font-size: 22px;
  color: #1e1e1e;
}

.stats p {
  font-size: 13px;
  color: #666;
}

.hero-image-wrapper {
    flex: 1;
    position: relative;
    bottom: 20px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-blob {
  
  width: 320px;
  height: 260px;
  background-color: #d9dfc8; /* light green background */
  overflow: hidden;

  clip-path: path(
    "
     C320 10 400 90 410 180
     C420 270 330 350 210 350
     C90 350 10 270 10 180
     C10 90 90 10 210 10Z"
  );

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {
    position: relative;
    z-index: 2;
    max-width: 30%;
    height: auto;
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.floating-icon {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fceeb5;
    /* Light yellow */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.icon-1 {
    bottom: 20%;
    left: 10%;
    background-color: #fdf8ee;
    color: var(--color-primary);
}

.icon-2 {
    top: 10%;
    right: 5%;
}

.icon-3 {
    bottom: 30%;
    right: 5%;
}
